.footer__column-link {
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s linear .05s;
  }

  .footer__column-link:hover {
    opacity: .5;
  }